/store-frontend/node_modules
/store-frontend/.vscode
/store-frontend/.angular
/store-backend/.env
/store-backend/database.json
/store-backend/.vscode
/store-backend/node_modules
/store-frontend/dist/my-store