/store-frontend/node_modules
/store-frontend/.vscode
/store-frontend/.angular
/store-backend/.env
/store-backend/database.json
/store-backend/.vscode
/store-backend/node_modules
/store-frontend/dist/my-store
/store-backend/dist
/store/store-backend/.env
/store/store-backend/.vscode
/store/store-backend/database.json
/store/store-frontend/dist
/store/store-frontend/node_modules
/store/store-frontend/.angular
/store/store-frontend/.vscode