.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.container{
    display: flex;
    flex-direction: column;
}

.title{
    color: azure;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}
